@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kubera</h1>

    <h3>Pages</h3>
    <ul>
        <li><a href="/config">Config</a></li>
        <li><a href="/accounts">Accounts</a></li>
        <li><a href="/computers">Computers</a></li>
        <li><a href="/scenarios">Scenarios</a></li>
    </ul>
</div>
