<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - KuberaManager</title>

    <!-- AdminLTE (base theme) -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/css/adminlte.min.css" integrity="sha512-rVZC4rf0Piwtw/LsgwXxKXzWq3L0P6atiQKBNuXYRbg2FoRbSTIY0k2DxuJcs7dk4e/ShtMzglHKBOJxW8EQyQ==" crossorigin="anonymous" />

    <!-- CSS Extras -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" integrity="sha512-JApjWRnfonFeGBY7t4yq8SWr1A6xVYEJgO/UMIYONxaR3C9GETKUg0LharbJncEzJF5Nmiv+Pr5QNulr81LjGQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

    <!-- Site CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="hold-transition sidebar-mini layout-navbar-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../../dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../../dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="../../dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li class="nav-item">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Admin" asp-action="Logout" class="nav-link"><i class="fas fa fa-sign-out-alt"></i> Logout</a>
                    }
                    else
                    {
                        <a asp-controller="Admin" asp-action="Login" class="nav-link"><i class="fas fa fa-sign-in-alt"></i> Login</a>
                    }
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link elevation-4">
                <img src="~/img/kubera-icon-128.gif"
                     alt="KuberaManager"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">KuberaManager</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>


                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Configuration menus if logged in-->
                            <li class="nav-header">Configuration</li>

                            <!-- Config button -->
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Config" asp-action="Index">
                                    <i class="nav-icon fas fa-cog"></i>
                                    <p>
                                        Config
                                    </p>
                                </a>
                            </li>

                            <!-- Database menu & submenus-->
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-database"></i>
                                    <p>
                                        Database
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a asp-controller="Accounts" asp-action="Index" class="nav-link">
                                            <i class="nav-icon fas fa-user"></i>
                                            <p>Accounts</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Computers" asp-action="Index" class="nav-link">
                                            <i class="nav-icon fas fa-desktop"></i>
                                            <p>Computers</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Scenarios" asp-action="Index" class="nav-link">
                                            <i class="nav-icon fas fa-tasks"></i>
                                            <p>Scenarios</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            @if (KuberaManager.Models.Database.Config.Get<bool?>("DeveloperMode") != null &&
                              KuberaManager.Models.Database.Config.Get<bool>("DeveloperMode"))
                            {

                                <li class="nav-header">Developer Tools</li>

                                <!-- Test Functions-->
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-vials"></i>
                                        <p>
                                            Test Functions
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">
                                            <a asp-controller="DevTest" asp-action="GetLevels" class="nav-link">
                                                <i class="nav-icon fas fa-vial"></i>
                                                <p>GetLevels</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="DevTest" asp-action="CreateSpoofSession" class="nav-link">
                                                <i class="nav-icon fas fa-vial"></i>
                                                <p>CreateSpoofSessions</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="DevTest" asp-action="CreateSpoofJob" class="nav-link">
                                                <i class="nav-icon fas fa-vial"></i>
                                                <p>CreateSpoofJob</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="DevTest" asp-action="WipeAllSessionsJobs" class="nav-link">
                                                <i class="nav-icon fas fa-vial"></i>
                                                <p>WipeAllSessionsJobs</p>
                                            </a>
                                        </li>


                                    </ul>
                                </li>


                            }
                        }


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @if (ViewBag.Notification != null)
            {
                <div class="alert alert-light alert-dismissible fade show">
                    <strong>Info:</strong> @ViewBag.Notification
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            }
            <!-- Main content -->
            <section class="content">

                <div class="container-fluid">

                    @RenderBody()

                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <!--
            <div class="float-right d-none d-sm-block">
                <b>KuberaManager Version</b> x.x.x.x
            </div>
            -->
            <strong>Copyright &copy; 2020 <a href="https://github.com/deMathias/">Opolusia</a> &amp; <a href="https://github.com/notcoffee418/">NotCoffee418</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- Include essentials-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/js/adminlte.min.js" integrity="sha512-++c7zGcm18AhH83pOIETVReg0dr1Yn8XTRw+0bWSIWAVCAwz1s2PwnSj4z/OOyKlwSXc4RLg3nnjR22q0dhEyA==" crossorigin="anonymous"></script>

    <!-- Extra JS-->

    <!-- Override JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Bottom Html -->
    @if (ViewBag.PageScript != null)
    {
        <script src="~/js/@ViewBag.PageScript" asp-append-version="true"></script>
    }
</body>
</html>
